version: "3.9"

services:
  backend:
    build: .
    container_name: prosteam_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: prosteam_db
    environment:
      POSTGRES_DB: prosteam
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
